/*VARIABLES*/
/*CSS*/
/* line 9, ../proyecto/scss/formato.scss */
* {
  margin: 0;
  padding: 0;
}

/*HEADER*/
/* line 15, ../proyecto/scss/formato.scss */
header {
  height: 100px;
  background-color: black;
  padding: 0 50px;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 25, ../proyecto/scss/formato.scss */
body {
  background-color: black;
}

/* line 29, ../proyecto/scss/formato.scss */
.logo {
  text-transform: uppercase;
  color: aliceblue;
  font-weight: 200;
}

/* line 36, ../proyecto/scss/formato.scss */
.hambur a {
  color: aliceblue;
}

/* line 40, ../proyecto/scss/formato.scss */
.menu a {
  color: aliceblue;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 1s;
}

/* line 48, ../proyecto/scss/formato.scss */
.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

/* line 56, ../proyecto/scss/formato.scss */
.mostrar-menu {
  order: 1;
}

/* line 60, ../proyecto/scss/formato.scss */
.menu a:hover,
.mostrar-menu,
.esconder-menu {
  color: blanchedalmond;
}

/* line 66, ../proyecto/scss/formato.scss */
#check {
  display: none;
}

/* line 70, ../proyecto/scss/formato.scss */
h1 {
  text-align: center;
  font-size: 100px;
  color: white;
  line-height: 2.3;
  background-image: url(https://www.visitflanders.com/es/binaries/Amuse%20Geuze%2009-Website%20banner-300%20DPI_crop1400x560_tcm24-169747.jpg);
}

/*PRINCIPAL/*

/*BANNER*/
/* line 82, ../proyecto/scss/formato.scss */
#banner {
  padding: 0 50px;
  background-image: url(https://www.clarin.com/img/2021/06/17/LC25eDtCT_1200x630__1.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center;
}

/* line 90, ../proyecto/scss/formato.scss */
#banner::before {
  content: "";
  background: rgba(30, 27, 27, 0.6);
  position: absolute;
  width: 100%;
  height: 45vh;
  left: 0;
}

/* line 99, ../proyecto/scss/formato.scss */
.contenido-banner {
  position: relative;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 107, ../proyecto/scss/formato.scss */
.contenido-banner h3 {
  font-size: 40px;
  font-weight: 400;
  font-family: courier;
  padding: 10px 0px;
  text-align: center;
}

/* line 115, ../proyecto/scss/formato.scss */
.contenido-banner span {
  font-weight: 600;
}

/* line 121, ../proyecto/scss/formato.scss */
.boton-none {
  text-decoration: none;
  color: aliceblue;
  border: 1px solid white;
  padding: 20px 40px;
  align-self: baseline;
  transition: all 0.4s;
  border-radius: 10px;
}

/* line 131, ../proyecto/scss/formato.scss */
.boton-none:hover {
  background-color: bisque;
}

/* line 135, ../proyecto/scss/formato.scss */
.boton {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*FOTOS*/
/* line 142, ../proyecto/scss/formato.scss */
#fotos {
  background-color: black;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* line 150, ../proyecto/scss/formato.scss */
#fotos img {
  border-radius: 100%;
}

/* line 154, ../proyecto/scss/formato.scss */
#fotos div {
  padding: 30px 30px;
}

/* line 157, ../proyecto/scss/formato.scss */
#fotos div h4 {
  color: azure;
  font-size: 20px;
  font-family: tahoma;
  margin: 15px 0px;
}

/* line 165, ../proyecto/scss/formato.scss */
#fotos div p {
  color: white;
  font-family: monospace;
  font-size: 18px;
}

/* line 171, ../proyecto/scss/formato.scss */
.boton-promociones {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border: 3px solid white;
  border-radius: 30px;
  margin-top: 15px;
  transition: all 0.4s;
}

/* line 182, ../proyecto/scss/formato.scss */
.boton-promociones:hover {
  background-color: bisque;
  color: black;
  font-weight: bolder;
}

/*CONTACTO*/
/*CUERPO*/
/* line 192, ../proyecto/scss/formato.scss */
#formulario {
  background-image: url(http://d2r9epyceweg5n.cloudfront.net/stores/001/179/202/products/packoklahoma11-c3f856f422aa8443d915884610590496-640-0.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

/* line 199, ../proyecto/scss/formato.scss */
form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 100px 80px;
  box-sizing: border-box;
  margin-top: 0px;
  border-radius: 7px;
  font-family: monospace;
}

/* line 210, ../proyecto/scss/formato.scss */
h2 {
  color: aliceblue;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: monospace;
}

/* line 219, ../proyecto/scss/formato.scss */
input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

/* line 229, ../proyecto/scss/formato.scss */
#boton {
  background-color: #fffac2;
  padding: 10px;
  border-radius: 10px;
}

/* line 235, ../proyecto/scss/formato.scss */
#boton:hover {
  cursor: pointer;
}

/* line 239, ../proyecto/scss/formato.scss */
textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 290px;
  min-width: 290px;
}

/* line 246, ../proyecto/scss/formato.scss */
h3 {
  color: antiquewhite;
  text-align: center;
  margin: 15px;
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*MENU*/
/*MENU ENTERO*/
/* line 260, ../proyecto/scss/formato.scss */
body {
  background-color: #000000;
}

/* line 264, ../proyecto/scss/formato.scss */
.menus {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px 40px;
}

/* line 271, ../proyecto/scss/formato.scss */
.heading {
  background-color: #090423;
  color: #ffffff;
  margin-bottom: 30px;
  padding: 50px 0 30px 0;
  grid-column: 1/-1;
  text-align: center;
}

/* line 280, ../proyecto/scss/formato.scss */
.heading > h1 {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 10px;
}

/* line 287, ../proyecto/scss/formato.scss */
.heading > h3 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}

/* line 293, ../proyecto/scss/formato.scss */
.food-items {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

/* line 301, ../proyecto/scss/formato.scss */
.food-items img {
  position: relative;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

/* line 308, ../proyecto/scss/formato.scss */
.details {
  padding: 20px 10px;
  display: grid;
  grid-template-rows: auto 1fr 50px;
  grid-row-gap: 15px;
}

/* line 315, ../proyecto/scss/formato.scss */
.details-sub {
  display: grid;
  grid-template-columns: auto auto;
}

/* line 320, ../proyecto/scss/formato.scss */
.details-sub > h5 {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

/* line 326, ../proyecto/scss/formato.scss */
.price {
  text-align: right;
}

/* line 330, ../proyecto/scss/formato.scss */
.details > p {
  color: #6f6f6f;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  align-self: stretch;
  color: #ffffff;
}

/* line 339, ../proyecto/scss/formato.scss */
.details > button {
  background-color: #cb202d;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  width: 180px;
}

/*NOSOTROS*/
/*CUERPO*/
/* line 353, ../proyecto/scss/formato.scss */
.nosotros {
  padding: 0 50px;
  background-color: black;
}

/* line 359, ../proyecto/scss/formato.scss */
#cuerpo h1 {
  font-size: 40px;
  font-weight: 400;
  padding: 10px 0px;
  color: aliceblue;
}

/* line 366, ../proyecto/scss/formato.scss */
#cuerpo p {
  color: aliceblue;
  font-size: 17px;
  padding: 10px 0px;
}

/* line 373, ../proyecto/scss/formato.scss */
.video {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  background-color: black;
}

/*SUCURSALES*/
/*local caballito*/
/* line 384, ../proyecto/scss/formato.scss */
#imagen20 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 0px;
}

/* line 391, ../proyecto/scss/formato.scss */
#sucursal1 p {
  text-align: center;
  font-size: 40px;
  color: white;
}

/* line 397, ../proyecto/scss/formato.scss */
h2 {
  text-align: center;
  font-size: 30px;
  color: white;
}

/* line 403, ../proyecto/scss/formato.scss */
#mapacaballito {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

/* line 409, ../proyecto/scss/formato.scss */
#imagen30 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 0px;
}

/* line 416, ../proyecto/scss/formato.scss */
#sucursal2 p {
  text-align: center;
  font-size: 40px;
  color: white;
}

/* line 422, ../proyecto/scss/formato.scss */
#maparecoleta {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

/*REDES*/
/* line 431, ../proyecto/scss/formato.scss */
#redes {
  padding: 0px 50px;
  background-color: rgba(77, 77, 92, 0.6);
}

/* line 436, ../proyecto/scss/formato.scss */
.contenido-redes {
  padding: 50px 50px 0px 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* line 441, ../proyecto/scss/formato.scss */
.contenido-redes div {
  flex: 1;
  margin: 20px 0px;
  border-right: 2px solid white;
}

/* line 448, ../proyecto/scss/formato.scss */
#foto-twitter {
  border: none;
}

/* line 452, ../proyecto/scss/formato.scss */
.contenido-redes div {
  color: black;
}

/* line 454, ../proyecto/scss/formato.scss */
.contenido-redes div h6 {
  font-size: 15px;
  font-weight: 100;
  margin: 10px 0px;
}

/* line 462, ../proyecto/scss/formato.scss */
.derechos {
  text-align: center;
  padding-bottom: 50px;
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  /*HEADER*/
  /* line 472, ../proyecto/scss/formato.scss */
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }
  /* line 477, ../proyecto/scss/formato.scss */
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  /* line 490, ../proyecto/scss/formato.scss */
  .menu a {
    display: block;
    padding: 20px;
  }
  /* line 495, ../proyecto/scss/formato.scss */
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  /* line 501, ../proyecto/scss/formato.scss */
  #check:checked ~ .menu {
    right: 0;
  }
  /*PRINCIPAL*/
  /* line 507, ../proyecto/scss/formato.scss */
  .contenido-banner h3 {
    font-size: 25px;
  }
  /*FOTOS*/
  /* line 512, ../proyecto/scss/formato.scss */
  #fotos {
    flex-direction: column;
    align-items: center;
  }
  /*CONTACTO*/
  /* line 519, ../proyecto/scss/formato.scss */
  form {
    width: 100%;
  }
  /* line 523, ../proyecto/scss/formato.scss */
  textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 215px;
    min-width: 215px;
  }
  /*SUCURSALES*/
  /* line 532, ../proyecto/scss/formato.scss */
  #cuerposucursales {
    flex-direction: column;
    text-align: center;
  }
  /*REDES*/
  /*REDES*/
  /* line 541, ../proyecto/scss/formato.scss */
  .contenido-redes {
    flex-direction: column;
  }
  /* line 543, ../proyecto/scss/formato.scss */
  .contenido-redes div {
    border: none;
  }
}

/*# sourceMappingURL=formato.css.map */