/*CSS*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*HEADER*/
header {
    height: 100px;
    background-color: rgb(0, 0, 0);
    padding: 0 50px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 200;
}

.hambur a{
    color: aliceblue;
}

.menu a {
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 1s;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu,
.esconder-menu {
    color: blanchedalmond;
}

#check {
    display: none;
}

/*MENU ENTERO*/

body{
    background-color: #000000;
}

.menus{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.heading{
    background-color: rgb(9, 4, 35);
    color: #ffffff;
    margin-bottom: 30px;
    padding: 50px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    color: #ffffff;
}
.details>button{
    background-color: #cb202d;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}


/*REDES*/

#redes {
    padding: 0px 50px;
    background-color: rgba(77, 77, 92, 0.6);
}

.contenido-redes {
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-redes div {
    flex: 1;
    margin: 20px 0px;
    border-right: 2px solid white;
}

#foto-twitter {
    border: none;
}

.contenido-redes div {
    color: black;
}

.contenido-redes div h6 {
    font-size: 15px;
    font-weight: 100;
    margin: 10px 0px;
}

.derechos {
    text-align: center;
    padding-bottom: 50px;
}